
.header1{
  position: fixed;
  display: flex;
  left: 341px;
  min-width: 36.7rem;
  height: 3.5rem;
  background-color: white;
  border-bottom: 1px solid rgb(215, 215, 215);
  border-right: 1px solid rgb(215, 215, 215);
  opacity: 0.94;
  z-index: 100;
  
}

.header1__nav-container{
  flex: 1;
  min-width: 130px;
 
}

.header1__nav-button{
  width: 100%;
  height: 100%;
  border: none;
}

.header1__icon-container{
  width: 2.48rem;
  align-self: center;
}

.header1__settings-button{
  border: none;
  border-radius: 50%;
  margin-right: 0.42rem;
  width: 1.7rem;
  padding: 0.2rem 0.2rem;
 
}

.header1__nav-button:hover,.header1__settings-button:hover{
  background-color: rgb(215, 215, 215);
}






.middle-content{
  position: absolute;
  top:57px;
  left: 341px;
  display: grid;  
  background-color: white;
  border-right: 1px solid rgb(215, 215, 215);
}








.profile-and-post-container{
  display: flex;
  border-bottom: 1px solid rgb(215, 215, 215);
  

}

.top-item-container{
  display: flex;
  
}

.profile-container{
  max-width: 2.5rem;
  margin-right: 1.2rem;
}

.profile-logo{
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  min-width: 2rem;
  max-width: 100%;
  border-radius: 50%;
}


.post-container{
  flex: 1;
  display: grid;
 
}


.post__input{
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}



.post__audience-button{
  border: none;
  outline: none;
  color: rgb(29, 155, 240);
  white-space: nowrap;  
}

.post__audience-icon{
  max-width: 1rem;
  max-height: 1rem;
  fill: rgb(29, 155, 240);
 
}


.post__bottom-container{
  border-top: 1px solid rgb(215, 215, 215);
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__iconlist-container{
  display: flex;
  min-width: 15rem;
}


.post__iconlist-container li{
  margin-left: 0.8rem;
}

.post__icon-container{
  max-width: 1.625rem;
  max-height: 1.625rem;
 
}

.post__icon{
  width: 100%;
  height: 100%;
 vertical-align: bottom;
  fill: rgb(29, 155, 240);
}



.post-button{
margin: 0.5rem 0rem;
  max-width: 14.56rem;
  padding: 0.75rem 1.5rem;
  border-radius: 1.87rem;
  border: none;
  background-color: rgb(29, 155, 240);
  color: white;
}


.showpost-container{
 justify-self: stretch;

 padding: 0.7rem 0rem;
 color: rgb(29, 155, 240);
 border-bottom: 1px solid rgb(215, 215, 215);
 display: flex;
 justify-content: center;
}

.timeline{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1.5rem ;
}

.timeline__profile-container{
  max-width: 2.5rem;
  margin-right: 1.2rem;
}

.timeline__logo{
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  min-width: 2rem;
  max-width: 100%;
  border-radius: 50%;
}
.timeline:hover{
  background-color: rgb(247, 247, 247);
}

.timeline:hover button{
  background-color: rgb(247, 247, 247);
}

.timeline__info-container{
  display: grid;
 
}

.timeline__top-info-container{
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
 
}

.timeline__more-icon-container{
  max-width: 1rem;
  margin-right: 1rem;
}


.timeline__top-info-icon{
  width: 1rem; 
}


.timeline__middle-info-container{
  display: grid ;
}



.timeline__middle-info-container p{
  max-width: 33rem;
  margin-bottom: 0.8rem;
}



.timeline__middle-logo-container{
  
  min-width: 16rem;
  max-width: 32rem;
  margin-right: 1rem;
}

.timeline__middle-logo{
 border-radius: 1rem;
 width: 100%;

}


.bottom__info-flex{
  margin-top: -0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom__container-blue:hover, .bottom__container-blue:hover span{
  fill: rgb(29, 155, 240);
  background-color: initial;
  color: rgb(29, 155, 240);
}



.bottom__container-green:hover, .bottom__container-green:hover span{
  fill: rgb(0, 186, 124);
  background-color: initial;
  color: rgb(0, 186, 124);;
}

.bottom__container-red:hover, .bottom__container-red:hover span{
  fill: rgb(249, 24, 128);
  background-color: initial;
  color: rgb(249, 24, 128);;
}

.bottom__info__flex img{
  max-width: 1.2rem;
  max-height: 1.2rem;
}



.bottom__right__column{
  margin-right: 1.2rem;
}


.bottom__button{
  margin-top: 1rem;
  border: none;
  border-style: none;
  max-width: 1.3rem;
  white-space: nowrap;
  border-radius: 1rem;
  
}

.bottom__button svg{
 width: 100%;
 height: 100%;
}



