.rightside-content{
  display: grid;
  grid-template-rows: minmax(2.5rem, 3rem) minmax(11rem, 13rem) 1fr minmax(19rem, 20rem) 1fr;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.search-flex{
  display: flex;
  align-items: center;

}

.search__button{
margin-right: -0.5rem;
border: none;
background-color: rgb(240, 240, 240);
border-top-left-radius: 1.1rem;
border-bottom-left-radius:1.1rem ;

margin-left: 1.2rem;

}

.search__icon{
  width: 2.2rem;
  height: 2.2rem;
 
}

.search__input{
  padding: 0.8rem 1rem;
  min-width: 18rem;
  border-radius: 10.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  background-color: rgb(240, 240, 240);
  
}

.subscribe{
  background-color: rgb(240, 240, 240);
  min-width: 20rem;
  max-width: 22rem;
 
  flex-wrap: wrap;
  
}

.subscribe__container{
  margin: 0.9rem;
}

.subscribe__button{
  background-color: black;
  padding: 0.6rem 1.2rem;
  color: white;
  border-radius: 0.9rem;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.trend{
  background-color: rgb(240, 240, 240);

  
}

.trend__container{
  margin: 1rem;
}

.trend__flex{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

}

.trend__left-column h2{
  font-size: 1.1rem;
}



.trend__button{
border: none;
background-color: rgb(240, 240, 240);
padding: 0.3rem;
border-radius: 50%;
}

.trend__button:hover{
  fill: rgb(29, 155, 240);
  background-color: rgb(213, 238, 255);
 
  }

.trend__icon{
  width: 1rem;
  height: 1rem;

}

.trend__showmore{
  margin-top: 1rem;
  margin-left: -0.8rem;
}

.trend__showmore a{
  color:rgb(29, 155, 240);
}

.who-to-follow{

  background-color: rgb(240, 240, 240);
}

.who__container{
  margin: 0.8rem;
  display: grid;
  grid-template-rows: minmax(1rem, 2rem ) 1fr 1.5rem ;
  gap: 1rem;
}

.who__mid{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.who__mid-container{
  display: flex;
  justify-content: space-between;
  
}

.who__left-column{
  display: flex;
  flex-direction: row;
}

.who__logo-container{

  max-width: 2.5rem;
}

.who__logo{
  width: 100%;
  border-radius: 50%;
}

.who__info-container{
  margin-left: 0.6rem;
}

.who__button{
  padding: 0.5rem 1.1rem;
  color: white;
  background-color: black;
  border-style: none;
  border-radius: 0.9rem;
}

.who__show-more{
  color:rgb(29, 155, 240);
}