.body-container{
  display: grid;

  background-color: pink;
  justify-content: center;
  grid-template-columns: repeat(3,1fr);
  border-style: solid;
  border-width: 1px;
  gap: 2px;
}

.leftside-content{

  max-width: 330px;
  background-color: aqua;
  display: grid;
  grid-template-rows: repeat(4,1fr);

 
}


.logo-container{
width: 30px;
max-height: 50px;

  
}

.logo{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}