.body-container{
  display: grid;

  background-color: pink;
  justify-content: center;
  grid-template-columns: minmax(250px, 330px) 1fr 1fr;
  border-style: solid;
  border-width: 1px;
  gap: 2px;
}

